.project-name {
    text-align: center;
    position: relative;
    bottom: 45px;
    background-color: aliceblue;

}

.contactMe {
    width: 200px;
    padding: 25%;
}
/* 
#contactMe {
    margin: auto;
} */